.div{
    animation-name: example;
    animation-duration: 5s;
}
@keyframes nav{
    0%{
        color: white;
    }
    100%{
        color: orange;
    }
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }